[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sap/yay]
row=5
col=0

[/home/sap/larbs.sh]
row=1
col=1

[/home/sap/Pictures]
row=4
col=1

[/home/sap/pic-full-201003-2152-20.png]
row=3
col=1

[/home/sap/GITCLONES]
row=0
col=1

[/home/sap/Downloads]
row=2
col=1

[c2957514-ee68-429a-b3c8-dab4b239ad1d]
row=0
col=0

[1E52-CE07]
row=1
col=0

[02fec555-738d-4947-b3f0-8a8bdc7c2ffe]
row=2
col=0

[/]
row=3
col=0

[/home/sap]
row=4
col=0

