[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sap/AutoStrap]
row=2
col=3

[/home/sap/sarbs.sh]
row=0
col=1

[/home/sap/Mounted]
row=0
col=4

[/home/sap/a]
row=3
col=1

[/home/sap/surf-2.0]
row=4
col=2

[/home/sap/a.cpp]
row=4
col=3

[/home/sap/Downloads]
row=2
col=1

[/home/sap/AR Rahman Instrumental Music Collection _ Yokkiyencity-OiPdvFNqPFk.mp3]
row=1
col=4

[/home/sap/a.out]
row=3
col=3

[/home/sap/New]
row=1
col=2

[/home/sap/b]
row=1
col=3

[/home/sap/yay]
row=2
col=4

[/home/sap/bnj]
row=3
col=2

[/home/sap/al]
row=0
col=2

[/home/sap/doc]
row=2
col=2

[/home/sap/p.txt]
row=1
col=1

[/home/sap/datta]
row=0
col=3

[/home/sap/Pictures]
row=4
col=1

[c2957514-ee68-429a-b3c8-dab4b239ad1d]
row=0
col=0

[1E52-CE07]
row=1
col=0

[02fec555-738d-4947-b3f0-8a8bdc7c2ffe]
row=2
col=0

[/]
row=3
col=0

[/home/sap]
row=4
col=0

