[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sap/mpv-shot0002.jpg]
row=3
col=1

[/home/sap/sarbs.sh]
row=0
col=1

[/home/sap/na]
row=0
col=2

[/home/sap/Mounted]
row=0
col=4

[/home/sap/AutoStrap]
row=2
col=3

[/home/sap/basics]
row=1
col=3

[/home/sap/a]
row=4
col=2

[/home/sap/mpv-shot0001.jpg]
row=5
col=1

[/home/sap/a.html]
row=1
col=1

[/home/sap/typescript]
row=1
col=2

[/home/sap/a.cpp]
row=5
col=2

[/home/sap/Downloads]
row=2
col=1

[/home/sap/yay]
row=2
col=4

[/home/sap/trac]
row=0
col=3

[/home/sap/2]
row=2
col=2

[/home/sap/bnj]
row=3
col=2

[/home/sap/Pictures]
row=4
col=1

[/home/sap/Monthly_reminder]
row=5
col=0

[02fec555-738d-4947-b3f0-8a8bdc7c2ffe]
row=2
col=0

[c2957514-ee68-429a-b3c8-dab4b239ad1d]
row=0
col=0

[1E52-CE07]
row=1
col=0

[/]
row=3
col=0

[/home/sap]
row=4
col=0

